<div class="card card-body">
    <h3>Video Idea</h3>
    <form action="/ideas" method="post">
        <div class="form-group">
            <laber for="title">Title</laber>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
            <laber for="details">Details</laber>
            <textarea name="details" class="form-control" cols="30" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>